h1{
    height: 40px;
    width: 285px;
    text-align: center;
    color:#84D0D9;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin:auto;
    font-size: 25px;
    padding: 15px;
  
  }


  h3{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #primeira{
    border: 5px;
    border-style: double;
    padding: 5px;
    position: absolute;
    top: 40%;
    left: 36%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color:#D9CC6F
    
    
  }

  #terceira{

    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
  }

  body{
    padding: 1%;
   background-image:linear-gradient(to bottom, #296474, #092227, #1F2A2C);
   background-attachment: fixed;
   color: #84D0D9
   

  }

  .learn{
    font-size: 15px;
    list-style-type:upper-roman;
   
  }

  .im{
    font-size: 17px;
    list-style-type:upper-roman;
   
    
  }

  .work{
    font-size: 18px;
    list-style-type:upper-roman;
    
  }

  .critics{
    font-size: 20px;
    list-style-type:upper-roman;
    
  }

  .links{
    color:#D9CC6F;
  }
  .links:hover {
    font-size: 15px;
  }

  .first-session {
    height: 280px;
    position:relative;
  }

  #minhafoto {
    float: left;
    width: 250px;
    height: 250px;
    padding: 12px;
    background-color:wheat;
  }

.inter:hover {
    background-color: black;
    color:red;
    text-align: center;
    font-size: 80px;
}